
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Lato&family=Lobster&family=Montserrat:wght@600&family=Roboto+Slab&family=Roboto:wght@500&family=Rock+Salt&family=Rubik&display=swap');

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.logo {
    border-radius: 50px;
    
}
.icon {
    width: 80px;
    padding-top: 10px;
}
.logo{
    width: 100px;
}
header {
    background-color: #000000;
    
    display: grid;
    grid-template-columns: 150px auto;
}
nav a{
    font-size: 1.5em;
    color: green;
    text-align: center;
    border-radius: 80px;
    
    text-decoration: none;
    font-family: 'Lobster';
    padding: 35px;
}

nav a:hover {
    background-color: #ffd900;
    color: #ffffff;
}
nav{
    display: flex;
    justify-content: space-around
}

title {
    font-family: 'Lobster';
    font-size: 4em;
    margin-top: 10px;
}
main section {
    text-align: center;
    font-family: 'roboto';
}
header img{
    
    justify-self: center;
    align-self: auto;
    
    border-radius: 80px;
    
}
.logo{
    width: 100px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
h1{
    font: 500;
    color: orangered;
    text-align: center;
    font-family: 'rubik';
    font-size: 48;
}
p{
    text-align: center;
    font-family: 'rubik';
    font-size: 16;
}
footer {
    background-color: black;
    color: #ffffff;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer p {
    font-size: 1.2em;
    font-family: 'lobster';
    color: red;
}

footer p a:hover {
    text-decoration: wavy;
    color: green;
}    
footer a {
    text-decoration: none;
    font-family: 'lobster';
    color: yellow;
}
footer a:hover {
    color: #6bd41fb3;
    text-decoration: none;
}
footer .social img {
    padding: 15px;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

