
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Lato&family=Lobster&family=Montserrat:wght@600&family=Roboto+Slab&family=Roboto:wght@500&family=Rock+Salt&family=Rubik&display=swap');

header {
    background-color: #000000;
    
    display: grid;
    grid-template-columns: 150px auto;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.logo{
    width: 80px;
    display:flex;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
.logo {
    width: 100px;
    
}

nav a{
    font-size: 1.5em;
    color: green;
    text-align: center;
    border-radius: 80px;
    
    text-decoration: none;
    font-family: 'Lobster';
    padding: 35px;
}
nav a:hover {
    background-color: #ffd900;
    color: #ffffff;
}
nav {
    display: flex;
    justify-content: space-around;
}
h2{
    text-align: center;
    color: #9932CC;
    font-size: xxx-large
}
h2:hover{
    color: white;
    
}
header img{
    
    justify-self: center;
    align-self: auto;
    
    border-radius: 80px;
}
h1{
    padding-left: 35px;
    padding-right: 35px;
    color: black;
    font-family: 'rubik';
}
p{
    padding-left: 35px;
    padding-right:  35px;
    color: white;
    font-size: 16;
    font-family: 'rubik';
}
footer {
    background-color: black;
    color: #ffffff;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer p {
    font-size: 1.2em;
    font-family: 'lobster';
    color: red;
}  
footer p a:hover {
    text-decoration: wavy;
    color: green;
}    
footer a {
    text-decoration: none;
    font-family: 'lobster';
    color: yellow;
}
footer a:hover {
    color: #6bd41fb3;
    text-decoration: none;
}
footer .social img {
    padding: 15px;
}